
:root{
    --color-white:#FFFFFF;
    --color-lightgray:#D7D7D7;
    --color-gray:#B3BFB6;
    --color-darkgray:#415256;
    --color-blue:#1588FC;
    --loading-grey: #ededed;

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /* transition: all ease-in-out .3s; */
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    width: 100%;
}

body{
    color: var(--color-darkgray);
}

main, footer{
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 12px;   
    height: 10px;            
}
::-webkit-scrollbar-track {
    background: var(--color-lightgray);        
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-blue);   
    border-radius: 20px;       
    border: 3px solid var(--color-lightgray);  
  }

/* REUSABLES */

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.text-blue{
    color: var(--color-blue);
}

.text-gray{
    color: var(--color-gray);
}

.w-full{
    width: 100%;
}

.border{
    border: 1px solid red;
}

.uppercase{
    text-transform: uppercase;
}

.cursor-pointer{
    cursor: pointer;
}

.text-center{
    text-align: center;
}

.main__btn{
    background-color: var(--color-blue);
    display: flex;
    border-radius: 5px;
    padding: .75rem 1rem;
    color: var(--color-lightgray);
    align-items: center;
    gap: 1rem;
    transition: all ease-in .3s;
}

.main__btn div{
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--color-lightgray);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: .75rem;
    position: relative;
    transition: all ease-in .3s;

}

.main__btn:hover {
    background-color: var(--color-white);
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
}

.main__btn:hover div{
    border: 1px solid var(--color-blue);
}


.fixed-contact{
    background-color: var(--color-darkgray);
    padding: 1rem 2rem 1rem .75rem;
    border-radius: 15px;
    width: auto;
    position: fixed;
    right: 0;
    top: 50%;
    cursor: pointer;
    transform: translate(9rem, -50%);
    transition: transform 300ms;
    z-index: 999;
    display: flex;
    align-items: center;
    color: #ffffff;
    gap: 1rem;
    font-size: 1.25rem;
  }
  
  .fixed-contact:hover{
    transform: translate(.75rem, -50%);
    color: #ffffff;
  }
  
  .fixed-contact i{
    font-size: 2rem;
  }


.container{
    max-width: 80%;
    margin: 0 auto;
    padding: 8rem 0;
}

.section__title{
    font-size: 3.5rem;
    color: var(--color-darkgray);
    position: relative;
    mix-blend-mode: difference;
    margin-bottom: 1rem;
    position: relative;
}

.section__desc{
    font-size: 1.15rem;
}



/* LOADER */

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--color-blue);
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  



/* HEADER */

header{
    width: 100%;
    padding: 2.5rem 5% 1.5rem;
    position: absolute;
    z-index: 999;
}

.fixedHeader{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    padding: 1rem 5%;
    transition: all ease-in .3s;
}

.fixedHeader a{
    color: var(--color-darkgray) !important;
}

.fixedHeader ul li a:hover,
header ul li a:hover{
    color: var(--color-blue) !important;
}

.fixedHeader span{
    color: var(--color-blue) !important;
}

.fixedHeader .logo{
    font-size: 3rem;
}

.logo{
    width: 25%;
    font-size: 4rem;
    color: var(--color-darkgray);
}

header>nav{
    width: 50%;
    padding: 0 5%;
    margin: 0 auto;
    z-index: 999;

}

header>nav>ul{
    display: flex;
    gap: 5%;
    font-size: 1.25rem;
    height: 100%;
    align-items: center;
}

header>nav>ul li{
    position: relative;
}

header>nav>ul li::after{
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    background-color: var(--color-blue);
    transition: all ease-in-out .3s;
}

header>nav>ul li:hover::after,
.currentItem::after{
    width: 100%;
}

.currentItem a{color: var(--color-blue) !important;}

header>nav>ul a{
    color: var(--color-darkgray);
    transition: all ease-in-out .3s;
}


.hamburger {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    position: relative;
  }
  
  
  .hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: var(--color-blue);
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute; 
  }
  
  
  .bar1 {
    top: 0;
  }
  
  .bar2,
  .bar3 {
    top: 13.5px;
  }
  
  .bar3 {
    right: 0;
  }
  
  .bar4 {
    bottom: 0;
  }
  
  .visuallyHidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
  }
  
  
  /* HAMBURGER 1 */
  .checkbox1:checked + label > .hamburger1 > .bar1{
    transform: rotate(45deg);
    transform-origin: 5%;
    width: 41px
  }
  
  .checkbox1:checked + label > .hamburger1 > .bar2 {
    transform: translateX(-40px);
    background-color: transparent !important;
  }
  
  .checkbox1:checked + label > .hamburger1 > .bar3 {
    transform: translateX(40px);
    background-color: transparent !important;
  
  }
  
  .checkbox1:checked + label > .hamburger1 > .bar4 {
    transform-origin: 5%;
    transform: rotate(-45deg);
    width: 41px;
  }
  
  
  .toggleContainer{
    padding-left: 0 !important;
    display: none !important;
  }



/* HERO */

.hero{
    height: auto;
    /* background-color: var(--color-lightgray); */
    position: relative;
}

.hero__right{
    width: 50%;
    height: 100%;

}

.hero__left{
    width: 100%;
}

.hero__left img{
    height: 100%;
    object-fit: cover;
    object-position: 0%;
}


.hero__right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    align-items: flex-start;
    position: absolute;
}

.hero__right h1{
    font-size: 5rem;
    line-height: 5rem;
    color: var(--color-blue);

}

.hero__right p{
    margin-top: 1rem;
    font-size: 1.15rem;
    color: var(--color-darkgray);
    margin-bottom: 2rem;
}


/* SECTION ABOUT */

.about .container{
    gap: 5%;
    align-items: center;
    position: relative;
}

.about .container::before,
.story__left::before,
.news__text .container::before{
    content: url(./assets/illustrations/dots.svg);
    position: absolute;
    z-index: -1;
    top: 30%;
    left: -3%;
}

.about__left{
    width: 40%;
}

.about__right{
    width: 60%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about__box{
    width: 45%;
    margin-bottom: 3rem;
    background-color: #4152561b;
    padding: 1rem 1.5rem;
    border-radius: 10px;

}

.about__box i{
    font-size: 2.5rem;
    color: var(--color-blue);
}

.about__box h5{
    font-size: 1.75rem;
    margin: 1rem 0 1.5rem;
}

.box__header{
    align-items: center;
    gap: 2rem;
}

/* SECTION 2*/

.section2__left{
    width: 50%;
    height: 30rem;
}

.section2__left img{
    height: 100%;
    object-fit: cover;
}

.section2__right{
    width: 50%;
    padding: 0 5%;
    justify-content: center;
    align-items: flex-start;
    position: relative;    
}

.section2__right::before,
.services .section__title::before,
.team .section__title::before,
.partners .section__title::before,
.main__news .intro__right::before{
    content: url(./assets/illustrations/dots.svg);
    position: absolute;
    z-index: -1;
    top: 15%;
    right: 25%;
}

.section2__right .section__desc{
    margin-bottom: 2rem;
}

/* SECTION 3*/


.section3__left,
.section3__right{
    width: 50%;
    justify-content: center;
    align-items: flex-start;
    position: relative;    
}


.section3__left{
    padding-right: 5%;
}

.section3__left::before{
    content: url(./assets/illustrations/dots.svg);
    position: absolute;
    z-index: -1;
    bottom: -10%;
    left: -10%;
}

.section3__right{
    background-color:#1588fc2e;
    padding: 2rem 5%;

}


.section3_box{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 3rem;
}

.section3_box i{
    font-size: 2rem;
    color: var(--color-blue);

}

.section3_box h5{
    font-size: 1.75rem;
    color: var(--color-blue);
}

.section3__left .stat:first-of-type{
    margin: 3rem 0 2rem;
    
}

.stat p{
    font-size: 4rem;
    line-height: 4rem;
    color: var(--color-blue);
}

/* NEWS */

.news__grid{
    margin-top: 5rem;
    justify-content: space-between;
    position: relative;
}


.news__grid::before{
    content: url(./assets/illustrations/dots.svg);
    position: absolute;
    z-index: -1;
    top: -10%;
    right: -3%;
}


.news__box{
    width: 22%;
}

.news__img{
    height: 16rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;

}

.news__img img{
    height: 100%;
    object-fit: cover;
}

.news__content{
    border: 1px solid var(--color-gray);
    border-radius: 20px;
    transform: translateY(-3rem);
    padding: 5px 10px 1.5rem;
    color: var(--color-darkgray);

    background: rgba( 65, 82, 86, 0.25 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: relative;
    
}

.news__icon{
    position: absolute;
    right: 15%;
    top: -5%;
    color: var(--color-white);
}

.news__icon::before{
    content: "\2B22";
    color: var(--color-blue);
    font-size:50px;
    position: absolute;
    top: -150%;
    right: -125%;
    z-index: -1;

}

.news__content h4{
    font-size: 1.25rem;
    line-height: 2.5rem;
    color: var(--color-lightgray);
    border-bottom: 2px solid var(--color-blue);
}

.news__content h5{
    margin-top: 1rem;
    font-size: 1.15rem;
}

.news__content p{
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.news__btn{
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: .5rem;
    margin: 0 auto 1rem;
    border-radius: 5px;
}

section.news .section__title,
section.news .section__desc,
section.news .main__btn{
    margin-left: auto;
    margin-right: auto;
}

section.news .main__btn{
    margin-top: 2rem;
}



/* SECTION CEO*/


section.ceo .container{
    align-items: flex-start;
    background-color:#1588fc2e;
    padding: 3rem 5%;
    border-radius: 10px;
}

section.ceo .container >p{
    font-size: 2rem;
    margin-bottom: 2.5rem;
}



.ceo__info .ceo__name{
    font-size: 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.492);
    margin-bottom: .5rem;
    color: var(--color-blue);
}

.ceo__role{
    opacity: .75;
}

/* SECTION CTA */


section.cta{
    background-color: var(--color-blue);
}



section.cta .container{
    align-items: center;
    color:var(--color-white);
}

section.cta .container p{
    font-size: 1.25rem;
}

section.cta .container h4{
    font-size: 2.5rem;
    margin-top: 2rem;
}

section.cta .container p{
    text-align: center;
    width: 50%;
    margin-top: 1rem;
    opacity: .75;
}

section.cta .container .main__btn{
    margin-top: 2rem;
}

/* SECTION TESTIMONIAL */


.testimonials__left{
    padding: 0 2rem 0 0;
    position: relative;
}


.testimonials__left::before{
    content: url(./assets/illustrations/dots.svg);
    position: absolute;
    z-index: -1;
    top: 30%;
    left: -3%;
}

.testimonials__left, .testimonials__right{
    width: 50%;
}

.testimonial{
    align-items: flex-start;
    background-color: #41525623;
    padding: 2rem;
    width: 45%;
    margin-bottom: 2rem;
}
.testimonial img{
    width: 5rem;
    margin-bottom: 1rem;
}

.testimonial p{
    margin-bottom: 1rem;
}

.testimonials__right{
    flex-wrap: wrap;
    justify-content: space-between;
}

.testimonial:nth-child(4){
    transform: translateX(-250%);
}

.testimonial h4{
    font-size: 1.5rem;
}

footer{
    background-color: var(--color-darkgray);
}

.footer__top{
    padding: 5rem;
    align-items: center;
    text-align: center;
}

.footer__top .logo{
    color: var(--color-lightgray);
}

.footer__top ul{
    gap: 5rem;
    margin-top: 1rem;
}

.footer__top ul li a{
    color: var(--color-lightgray);
}

.footer__bottom{
    background-color: var(--color-lightgray);
    padding: 1rem 10%;
    justify-content: space-between;
}

/* ABOUT US PAGE*/

/* HERO */

header:has(~.main__with__banner) a{
    color: var(--color-white);
}

.about__hero{
    height: 75vh;
    position: relative;
}

.hero__image{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;

}

.hero__image img{
    height: 100%;
    object-fit: cover;
    object-position: 0% 50%;
}

.hero__image::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background: rgba( 65, 82, 86, 0.25 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.about__hero .hero__content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    justify-content: center;
    text-align: center;
}


.about__hero h1{
  
    color: var(--color-lightgray);
    font-size: 4.5rem;
}

.hero__author{
    color: var(--color-white);
    margin-top: 2rem;
}

.hero__author p{
    font-size: 2rem;
    color: var(--color-blue);
}

.hero__content>p{
    font-size: 1.25rem;
    color: var(--color-white);
}

.story__left,
.story__right{
    width: 50%;
    position: relative;    
}

.story__right{
    height: 100%;
}

.story__right img{
    height: 30rem;
    object-fit: cover;
}

.story__left{
    padding-right: 5%;
}

.story__left ul{
    padding-left: 10%;
    margin-top: 3rem;
}

.story__left ul li{
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.numbering{
    width: 3rem;
    height: 3rem;
    background-color: var(--color-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-lightgray);
    font-size: 1.5rem;
    border-radius: 2px;
}

.story__item--title{
    font-size: 1.25rem;
}

/* Services */

.services .container{
    align-items: center;
}

.service{
    width: 70rem;
    max-width: 100%;
    margin: 0 auto;
}

.service:first-of-type{
    margin-top: 5rem;
}

.service>div{
    width: 50%;
    height: 20rem;
    background-color: var(--color-lightgray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.service>div i{
    font-size: 3rem;
    color: var(--color-blue);
}

.service>div h5{
    font-size: 2rem;
    margin: 1rem;
    color: var(--color-blue);
}

.service>div p{
    max-width: 80%;
}

.service>div img{
    height: 100%;
    object-fit: cover;
}

/* TEAM */

.team .container{
    align-items: center;
}

.team__members{
    gap: 5%;
    margin-top: 5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.member{
    position: relative;
    width: 20rem;
    height: 30rem;
    margin-bottom: 5rem;
}

.member img{
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.member__info{
    position: absolute;
    bottom: -12%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-lightgray);
    padding: 1rem;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 75%;
}

.member__info .socials{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    padding-bottom: .75rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.381);
    font-size: 1.25rem;
}

.member__info h5{
    font-size: 1.15rem;
    color: var(--color-blue);
}

/* PARTNERS */

.partners .container{
    align-items: center;
}

.partner{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    opacity: .5;
}

.partners__list{
    margin-top: 3rem;
    gap: 2rem;
    width: 50%;
    justify-content: space-around;
    font-weight: 600;
    font-size: 1.25rem;
}

.partner img{
    width: 7rem;
}

/* CONTACT */

section.contact{
    height: 50rem;
    position: relative;
    background: url(./assets/images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0% 50%;
    
}

section.contact img{
    height: 100%;
    object-fit: cover;

}

.contact__container{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #1588fc7d;
    display: flex;
}


.contact__container form{
    background-color: var(--color-white);
    width: 45rem;
    max-width: 90%;
    margin: auto;
    border-radius: 10px;
    padding: 2rem;
}

.form__group:nth-of-type(1){
    margin-top: 3rem;
}

.form__group{
    margin-bottom: 2rem;
}

.form__group label{
    font-size: 1.25rem;
}

.form__group input,
.form__group textarea{
    padding: .5rem 1rem 1rem;
    font-size: 1.25rem;
    border: none;
    border-bottom: 1px solid var(--color-gray);
}

button[type="submit"]{
    padding: 1rem 1.5rem;
    background-color: var(--color-blue);
    border: none;
    border-radius: 5px;
    font-size: 1.15rem;
    color: var(--color-white);
}


/* CONTACT PAGE */

.contact__form{
    width: 40rem;
    max-width: 90%;
    margin: 0 auto ;
    padding: 10rem 0;
}


/* NEWS PAGE */

.main__news{
    padding: 15rem 0 10rem;
}

.main__news .intro,
.main__news h1{
    width: 80%;
    margin: 0 auto;
}

.main__news h1{
    font-size: 3.5rem;
    margin-bottom: 3rem;
}

.main__news .intro__left{
    width: 50%;
    height: 30rem;

}

.main__news .intro__left img{
    height: 100%;
    object-fit: cover;
}

.main__news .intro__right{
    width: 50%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.intro__right>span{
    text-transform: uppercase;
    font-size: 1.25em;
    color: var(--color-gray);
}

.intro__right h2{
    font-size:2.75rem
}

.intro__right p{
    font-size: 1.25rem;
    margin: 2rem 0;
}

.news__list h2{
    font-weight: 500;
}

.news__text{
    font-size: 1.25rem;
    padding-top: 10rem;
}

.news__text .container{
    max-width: 90%;
    gap: 5rem;
    position: relative;
}

.news__text__left>h2{
    margin: 1rem 0 2rem;
    font-weight: 600;
}

.news__text p{
    margin-bottom: 1.5rem;
}

.news__text__left{
    width: 40%;
    position: relative;
}

.news__text__right{
    width: 55%;
}

.news__text__left .tags{
    display: flex;
    gap: 1rem;
}

.news__text__left .tags span{
    background-color: #1588fc26;
    padding: .25rem 1rem;
    border-radius: 2px;
}


.news__more{
    margin-top: 5rem;
    align-items: flex-start;
}

.news__more a{
    font-size: 1.15rem;
    color: var(--color-blue);
    margin-top: 2rem;
}

.news__hero{
    background-color: var(--color-darkgray);
    height: 85vh;
}

header:has(~main>section.news__hero) .text-blue{
    /* color: var(--color-darkgray); */
}

.news__hero{
    position: relative;
}

.news__image{
    width: 65%;
    position: absolute;
    right: 0;
    top: 25%;
    height: 100%;
}

.news__image::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent linear-gradient(270deg, #FFFFFF00 0%, var(--color-darkgray) 100%) 0% 0% no-repeat padding-box;
}

.news__image img{
    height: 100%;
    object-fit: cover;
}

.news__headline{
    position: absolute;
    left: 10%;
    top: 25%;
    color: var(--color-white);
}

.news__headline div{
    display: flex;
    gap: 2rem;
    padding: 1rem .5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    width: 25%;
}

.news__headline div span:first-of-type{
    width: 5rem;
}

.news__headline h1{
    margin-top: 5rem;
    width: 75%;
    font-size: 4rem;
    color: transparent;
    -webkit-text-stroke: 1px white;
}


/* JOB SEARCH*/

.jobs .about__hero{
    height: 70vh;
}

.search__form{
    width: 50rem;
    max-width: 90%;
    margin-top: 5rem;
    display: flex;
    gap: 5%;
}

.search__form input{
    padding: 1rem 2rem;
    border-radius: 5px;
    border: 1px solid var(--color-darkgray);
    font-size: 1.25rem;
}

.search__form input:focus{
    outline: none;
    border: 1px solid var(--color-blue);
}

.search__form input:first-child{
    width: 75%;
}

.search__form input[type="submit"]{
    background-color: #1588FC;
    color: var(--color-white);
    cursor: pointer;
}



.jobs__list h3{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2.5rem;
}

.filter__item{
    color: var(--color-darkgray);
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.15rem;
}

.jobs__list .container{
    gap: 5%;
    justify-content: space-between;
}

.jobs__container{
    width: 70%;
}

.filters{
    width: 25%;
}

.filters__list{
    height: 21rem;
    overflow-y: auto;
}

.filters>input{
    width: 75%;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid var(--color-gray);
    border-radius: 10px;
}

.job__item{
    padding: 1.5rem;
    align-items: center;
    gap: 5%;
    justify-content: space-between;
    border-radius: 10px;
    background-color:#41525618;
    margin-bottom: 2rem;
}

.job__item>a{
    color: var(--color-blue);
    padding: .5rem 2rem;
    border-radius: 5px;
    border: 1px solid var(--color-blue);
}

.job__content__top{
    gap: 1rem;
    align-items: center;
    margin-bottom: .5rem;
}

.job__content__bottom{
    gap: 1rem;
    align-items: center;
}

.job__item__left{
    align-items: center;
    gap: 5%;
    width: 75%;
}

.job__content__top h5 {
    font-size: 1.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20rem;
}

.tags{
    gap: 1rem;
    margin-top: 1rem;
}

.job__content p{
    background-color:#1588fc37;
    padding: .25rem;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.job__content__top p{
    background-color: rgba(0, 255, 0, 0.154);
}

.job__content__bottom p{
    background-color: transparent;
}

.job__content__bottom{
    font-size: 1.15rem;
}

.job__content__bottom>div{
    display: flex;
    gap: .5rem;
    align-items: center;
}

.job__content .time{
    color: var(--color-darkgray);
}

.job__image{
    width: 5rem;
}


.current__filters{
    margin-bottom: 1rem;
    gap: 1rem;
    width: 75%;
    flex-wrap: wrap;
    color: var(--color-blue);
    font-weight: 700;
}

.apply__filters{
    width: 75%;
    padding: 5px;
    background-color: var(--color-blue);
    border: none;
    border-radius: 5px;
    margin-bottom: 1rem;
    color: var(--color-white);
    cursor: pointer;
}

.job__list__container ul {
    display: flex;
    justify-content: space-between;
    width: 75%;
    align-items: center;
}



.job__list__container ul a {
    text-transform: capitalize;
    cursor: pointer;
}

.job__list__container ul li{
    transition: all ease-in-out .3s;
}

.job__list__container ul li:not(.selected):hover{
    color: var(--color-blue);
}

.job__list__container ul li.disabled {
    color: var(--color-gray) !important;
}

.job__list__container ul li.selected {
    color: white;
    background: var(--color-blue);
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    transition: all ease-in-out .3s;
}


.job__header{
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
    gap: 1rem;
}

.job__header div{
    width:2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#41525611;
    font-size: 1.75rem;
    color: var(--color-darkgray);
}

.job__info .job__title{
    font-size: 1.5rem;
    color: var(--color-blue);
}

.job__header h2{
    font-size: 2.5rem;
}

.job__info{
    padding-left: 3.5rem;
    gap: 5%;
    width: 100%;
    align-items: flex-start;
}

.job__info__left{
    width: 55%;
    padding: 1rem;
    align-items: flex-start;

}


.job__info__right{
    width: 40%;
    padding: 2rem;
    background-color:#b3bfb623;
    border-radius: 5px;
}

.job__info h3{
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: gray;
}

.job__info__left>div{
    margin-bottom: 2rem;
}

.company__logo{
    width: 5rem;
}

div:has(>.company__logo){
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    font-size: 1.25rem;
}

.job__details__list{
    margin-top: 2rem;
}

.job__details__item{
    gap: .5rem;
    margin-bottom: 1rem;
}

.job__details__item>span:first-of-type{
    opacity: .5;
}

.job__details__item p{
    padding: .25rem 1rem;
    margin-right: 1rem;
    background-color: #1588fc28;
    margin-bottom: 1rem;
}

.job__tags{
    flex-wrap: wrap;
}

.job__desc{
    margin-top: 2rem;
}


.job__desc strong{
    display: block;
    margin-top: 2rem;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.job__desc p{
    margin-bottom: 1rem;
    font-size: 1.15rem;
}

.job__desc img{
    display: none;
}

.job__desc ul{
    list-style-type: circle;
    padding-left: 3rem;
}

.job__desc ol{
    padding-left: 3rem;
}

.job__desc ul li,
.job__desc ol li{
    margin-bottom: .75rem;
}


.main__contentful{
    padding: 10rem 0 5rem;
}

.main__contentful .container{
    align-items: center;
}

.main__contentful h1{
    font-size: 4rem;
    margin-bottom: 5rem;
}

.main__contentful .illustration{
    width: 50rem;
    height: 40rem;
    max-width: 100%;
}

.main__contentful .illustration img{
    height: 100%;
    object-fit: cover;
}

.main__contentful .description{
    width: 50rem;
    max-width: 100%;
    margin-top: 6rem;
    font-size: 1.15rem;
}

.main__contentful h2{
    margin-bottom: 2rem;
    color: var(--color-blue);
}

.main__contentful h4{
    margin: 1rem 0 ;
}

.main__contentful .description p:has(>strong){
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}

.main__contentful .description ol{
    padding-left: 2rem;
    margin-top: 1rem;
}

.main__contentful .description ol li,
.note__{
    margin-bottom: 1rem;
}

.code__bloc{margin-bottom: 2rem;}
.code__bloc>p{opacity: .5;}

.main__contentful .description .controls{
    justify-content: space-between;
}

.next__link,
.prev__link{
    color: var(--color-blue);
    display: block;
    margin-top: 3rem;
    cursor: pointer;
    display: flex;
    width: 50%;
  
}

.main__contentful .description:has(.prev__link) .next__link{
    justify-content: flex-end;
}

.next__link div,
.prev__link div{
    max-width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fixedSubmenu{
    position: fixed;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.fixedSubmenu div{    
    border-radius: 5px;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    background-color: #1588fc21;
    color: var(--color-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: .75rem;
    transition: all ease-in-out .3s;
    gap: .75rem;
}
.fixedSubmenu div span{
    display: none;
    font-size: 1rem;
}

.fixedSubmenu div:hover,
.current__submenu--item{
    background-color:var(--color-blue) !important;
    color: var(--color-white) !important;
}

.fixedSubmenu div:hover span{
    display: inline-block;
}

.not__found{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.not__found img{
    width: 40rem;
    max-width: 90%;
}

.word__cloud{
    width: 50rem;
    max-width: 90%;
    margin: 0 auto;
    border: 1px solid var(--color-gray);
    border-radius: 10px;
}


.visualisations__hero{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 5%;
    background-color: var(--color-darkgray);
    color: var(--color-white);
    padding-bottom: 5%;
}

.visualisations__hero h1{
    font-size: 5rem;
    margin-bottom: 1rem;
    font-weight: 500;
    color: var(--color-blue);
}

.visualisations__hero p{
    font-size: 1.25rem;
    margin-bottom: 5rem;
    opacity: .5;
}

.visualisations__hero ul{
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
    gap: 2rem;
}

.visualisations__hero ul li{
    display: inline-block;
    font-size: 1.25rem;
    opacity: .5;
    padding-bottom: 1rem;
    cursor: pointer;
    transition: all ease-in-out .5s;
}

li.selected__viz--tab{
    color: var(--color-blue);
    border-bottom: 1px solid var(--color-blue);
    opacity: 1 !important;
}

.viz__field{
    padding: 5rem 5%;
}

.viz__container{
    border: 1px solid var(--color-gray);
    height: 50rem;
    border-radius: 10px;
}


.unique__pie{
    width: 48%;
    margin-bottom: 5rem;
}


.unique__pie h5{
    background-color: var(--color-lightgray);
    margin-bottom: 1rem;
    border-radius: 2px;

}
.unique__pie>div{
    width: 100%;
    height: 10rem;
    border-radius: 5px;
 
}

.unique__pie>div,
.unique__pie>h5{
    background-color: var(--loading-grey);
    color: var(--loading-grey);
    background: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, .5) 50%,
      rgba(255, 255, 255, 0) 60%
    ) var(--loading-grey);
    background-size: 200% 100%;
    background-position-x: 180%;
    animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
    to {
      background-position-x: -20%;
    }
  }

.unique__pie:has(h5~div>div>svg){
    background-color: transparent;
    margin-bottom: 10rem;
    height: 50rem;

}

.unique__pie:has(h5~div>div>svg)>div{
    background-color: transparent;
    height: 100%;
    border-radius: unset;
}

.unique__pie:has(h5~div>div>svg) h5{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    background-color: transparent;
    margin-bottom: 0;
    color: var(--color-darkgray);
}

.viz__pies{
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.search__loc--form{
    display: flex;
    width: 100%;
    margin-bottom: 5rem;
    gap: 2rem;
    justify-content: center;
}

.search__loc--form input{
    width: 30rem;
    max-width: 75%;
    border: 1px solid var(--color-gray);
    border-radius: 5px;
}

.search__loc--form input:focus{
    outline: none;
    border: 1px solid var(--color-blue);
    font-size: 1.25rem;
    padding: 0 .5rem;
}

button[type="submit"]{
    cursor: pointer;
}